/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1920,20,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --space-3xs: clamp(0.25rem, calc(0.24rem + 0.06vw), 0.31rem);
    --space-2xs: clamp(0.50rem, calc(0.48rem + 0.13vw), 0.63rem);
    --space-xs: clamp(0.75rem, calc(0.71rem + 0.19vw), 0.94rem);
    --space-s: clamp(1.00rem, calc(0.95rem + 0.25vw), 1.25rem);
    --space-m: clamp(1.50rem, calc(1.43rem + 0.38vw), 1.88rem);
    --space-l: clamp(2.00rem, calc(1.90rem + 0.50vw), 2.50rem);
    --space-xl: clamp(3.00rem, calc(2.85rem + 0.75vw), 3.75rem);
    --space-2xl: clamp(4.00rem, calc(3.80rem + 1.00vw), 5.00rem);
    --space-3xl: clamp(6.00rem, calc(5.70rem + 1.50vw), 7.50rem);
  
    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, calc(0.18rem + 0.38vw), 0.63rem);
    --space-2xs-xs: clamp(0.50rem, calc(0.41rem + 0.44vw), 0.94rem);
    --space-xs-s: clamp(0.75rem, calc(0.65rem + 0.50vw), 1.25rem);
    --space-s-m: clamp(1.00rem, calc(0.83rem + 0.88vw), 1.88rem);
    --space-m-l: clamp(1.50rem, calc(1.30rem + 1.00vw), 2.50rem);
    --space-l-xl: clamp(2.00rem, calc(1.65rem + 1.75vw), 3.75rem);
    --space-xl-2xl: clamp(3.00rem, calc(2.60rem + 2.00vw), 5.00rem);
    --space-2xl-3xl: clamp(4.00rem, calc(3.30rem + 3.50vw), 7.50rem);
  
    /* Custom pairs */
    --space-s-l: clamp(1.00rem, calc(0.70rem + 1.50vw), 2.50rem);
  }